<!-- <div id="list-example" class="list-group" style="width: 20%;">
  <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
  <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
  <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
  <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
</div>
<div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
  <h4 id="list-item-1">Item 1</h4>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>

  <h4 id="list-item-2">Item 2</h4>
  <p>...</p>
  <h4 id="list-item-3">Item 3</h4>
  <p>...</p>
  <h4 id="list-item-4">Item 4</h4>
  <p>...</p>
</div> -->
<div class="container-first" >
  <h1>OUR MISSON</h1>
  <br><br>
  <div class="container-eco">
    <img src="assets/ecology.png" class="eco-logo" alt="eco-logo">
    <p>Giving Back to Environment</p>
  </div>
  <div class="container-eco">
    <img src="assets/ecology1.png" class="eco-logo" alt="eco-logo">
    <p>Sustainable to the Environment</p>
  </div>
  <div class="container-eco">
    <img src="assets/ecology2.png" class="eco-logo" alt="eco-logo">
    <p>Minimal Resources</p>
  </div>
</div>
<div class="container-statement">
  <div class="statement-image">
    <img src="assets/statement-photo.jpeg" class="statement-photo" alt="statement-photo">
  </div>
  <div class="statement-info shadow-lg p-3 mb-5">
    <h2> How We Do It:</h2>
    <p>
      The result of our partnerships and process is a range of beautifully-made products you see on our platform. Each piece is thoughtfully designed and skilfully handcrafted for the ordinary folk who loves a story to tell.
  
      Versatile for any occasion, let our pieces do the talking.</p> 
  </div>
</div>
<div class="social-media">

</div>