.content{
    text-align: center;
    display:inline-block;
    justify-content: center;
    padding-left:3%;
    padding-right:3%;
}

.container:hover .middle {
opacity: 1;
}
.pagenum{
 position: inline;
 margin-right: 50px;
 text-align: right;
}

.product {
    text-align: center;
    padding:3%;
    padding-bottom:0;
    float: left;
}

.product-image{
    height: 435px;
    width:350px;
    object-fit: cover;
}
.image{
    height: 435px;
    width:350px;
    position: relative;
     
}
.discription{
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(185, 167, 146, 0.72);
  color: rgb(17, 14, 14);
  font-weight: 100;
  visibility: hidden;
  opacity: 0;
  padding: 200px 0;
  margin:0;

}
.image:hover .discription {
    visibility: visible;
    opacity: 1;
  }

.sub-header{
    text-align: center;
    background-color: rgba(136, 115, 115, 0.411);
    margin:0;
    padding:2px;
}
button{ 
    background-color: rgba(165, 153, 143, 0.493);
    border:0px;
    width:30px;
    height:30px;
    margin:5px;
    border: 1px rgb(136, 133, 133) solid;
}