<div class="sub-header">
  <h2>{{subhead}}</h2>
</div>
<div class="content"> 
  <div class="product">
    <img src="assets/dress3.webp" class="product-image"alt="dress2">
    <p>Medeow Dress<br> $89.00</p>
  </div>
  <div class="product">
    <img src="assets/dress4.webp" class="product-image"alt="dress2">
    <p>Medeow Dress<br> $89.00</p>
  </div>
  <div class="product">
    <img src="assets/dress5.webp" class="product-image" alt="dress2">
    <p>Meadow Cami Top<br> $59.00</p>
  </div>
  <div class="product">
    <img src="assets/dress6.webp" class="product-image"alt="dress2">
    <p>Medeow Dress<br> $89.00</p>
  </div>

</div>


<div class=pagenum>
  
  <button> << </button>
  <a routerLink="/women"><button> 1 </button></a>
  <a routerLink="/women2"><button> 2 </button></a>
  <button> >> </button>
</div>