.container-shop{
    width: 100%;
}
.shop-women{
    background-image: "assets/men1.webp ";
    width: 50%;
    height:700px;
}

.shop-men{
    background-image: "assets/men1.webp ";
    width: 25%;
    /* height:200px; */
   
}
.shop-image{
    width: 400px;
    height:550px;
  
}